/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/

.front {
	position: absolute;
	transition: transform 1s;
}

.back {
	transform:rotateY(180deg);
	transition: transform 1s;
	backface-visibility:hidden;

}

.portfolio-item:hover .front {
	transform:rotateY(180deg);
	transition: transform 1s;
	backface-visibility:hidden;
}

.portfolio-item:hover .back {
	transform:rotateY(0deg);
	transition: transform 1s;
	backface-visibility:hidden;
}
